# IDE
/.idea/

# Composer
/vendor/
/composer.phar

# Build & analysis
/build

# Tests & reports
/.phpunit.cache
/reports
/tests/phpunit-credentials.php
/.php-cs-fixer.cache
/.phpunit.result.cache

# Temp docs
/docs