<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true" bootstrap="tests/phpunit-bootstrap.php" cacheDirectory=".phpunit.cache">
  <coverage/>
  <testsuites>
    <testsuite name="unit-tests">
      <directory>tests</directory>
      <exclude>tests/connection-tests</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>src/Bpack247.php</file>
      <file>src/Bpost.php</file>
      <file>src/Geo6.php</file>
    </exclude>
  </source>
</phpunit>
